workflows/n8n_template.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "comfyui-monitor",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "comfyui-telemetry-webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.estado }}",
                    "rightValue": "inicio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Inicio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.estado }}",
                    "rightValue": "fin",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fin"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.estado }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Error"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-1",
      "name": "Filtro Estado",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "chatId": "<TU_CHAT_ID>",
        "text": "=🚀 **INICIO:** Generación iniciada...\nPrompt ID: `{{ $json.body.prompt_id }}`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-1",
      "name": "Telegram (Inicio)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [800, 100],
      "credentials": {
        "telegramApi": {
          "id": "telegram_bot",
          "name": "<TU_BOT_TOKEN_AQUI>"
        }
      }
    },
    {
      "parameters": {
        "chatId": "<TU_CHAT_ID>",
        "text": "=✅ **FIN:** Tarea completada exitosamente.\nPrompt ID: `{{ $json.body.prompt_id }}`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-2",
      "name": "Telegram (Fin)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [800, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram_bot",
          "name": "<TU_BOT_TOKEN_AQUI>"
        }
      }
    },
    {
      "parameters": {
        "chatId": "<TU_CHAT_ID>",
        "text": "=🚨 **ERROR:** Fallo en el nodo `{{ $json.body.nodo_fallido }}`\nPrompt ID: `{{ $json.body.prompt_id }}`\nMotivo: {{ $json.body.motivo }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-3",
      "name": "Telegram (Error)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [800, 500],
      "credentials": {
        "telegramApi": {
          "id": "telegram_bot",
          "name": "<TU_BOT_TOKEN_AQUI>"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filtro Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro Estado": {
      "main": [
        [
          {
            "node": "Telegram (Inicio)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram (Fin)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}